DISCORD_TOKEN=MTU1MDczOTM5ODAwODUwNDMyMA.GUuwS2.kIOKO_pFmSRaAtWI-sME5LLUssYnVY6g47Kv8c
OWNER_IDS=
MC_WEBHOOK_SECRET=
MC_HOST=cubixorasmp.play.hosting
MC_PORT=19132
SITE_URL=https://cubixoraweb.onrender.com
